@model SisUnimed.Models.ViewModelDetalhePermisaoGrupo
@{       
           
   List<SelectListItem> simenao = new List<SelectListItem>();
   simenao.Add(new SelectListItem{
       Text = "Sim",
       Value = "1"
   });
   simenao.Add(new SelectListItem{
       Text = "Não",
       Value = "0"
   });
}

@if (Model != null)
{
    using (@Ajax.BeginForm("EditarPermissao", "Grupo", new AjaxOptions { HttpMethod="POST",InsertionMode = InsertionMode.Replace,UpdateTargetId="corposite" }, new { @id = "FormCadastro" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true) 
        @Html.HiddenFor(a => a.Vgrupo_permissao.id)      
       <table class="table">
           <thead>
               <tr class="header">
                   <th scope="col">Descrição Tabela</th>
                   <th scope="col">Visualizar</th>
                   <th scope="col">Inserir</th>
                   <th scope="col">Atualizar</th>
                   <th scope="col">Excluir</th>
               </tr>
           </thead>
           <tbody>
               <tr>
                   <td>Operadoras</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.operadora, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.operadora_i, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.operadora_a, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.operadora_d, simenao)</td>

               </tr>
               <tr class="alternate">
                   <td>Usuario</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.usuario, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.usuario_i, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.usuario_a, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.usuario_d, simenao)</td>
               </tr>
               <tr>
                   <td>Grupo</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.grupo, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.grupo_i, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.grupo_a, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.grupo_d, simenao)</td>
               </tr>
               <tr class="alternate">
                   <td>Permissão de Grupo</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.grupo_permissao1, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.grupo_permissao_i, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.grupo_permissao_a, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.grupo_permissao_d, simenao)</td>
               </tr>
               <tr>
                   <td>Permissao de Usuário</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.usuario_permissao, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.usuario_permissao_i, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.usuario_permissao_a, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.usuario_permissao_d, simenao)</td>
               </tr>
               <tr class="alternate">
                   <td>Banco</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.bancos, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.bancos_i,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.bancos_a,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.bancos_d,simenao)</td>
               </tr>
               <tr>
                   <td>Marca</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.marcas, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.marcas_i,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.marcas_a,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.marcas_d,simenao)</td>
               </tr>
               <tr class="alternate">
                   <td>Classificação</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.classificacao, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.classificacao_i,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.classificacao_a,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.classificacao_d,simenao)</td>
               </tr>
               <tr>
                   <td>Especialidade</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.especialidade, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.especialidade_i,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.especialidade_a,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.especialidade_d,simenao)</td>
               </tr>
               <tr class="alternate">
                   <td>Estados</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.estados, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.estados_i,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.estados_a,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.estados_d,simenao)</td>
               </tr>
               <tr>
                   <td>Procedimentos</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.procedimentos, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.procedimentos_i,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.procedimentos_a,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.procedimentos_d,simenao)</td>
               </tr>
               <tr class="alternate">
                   <td>Região</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.regioes, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.regioes_i,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.regioes_a,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.regioes_d,simenao)</td>
               </tr>
               <tr>
                   <td>Unidade</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.unidades, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.unidades_i,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.unidades_a,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.unidades_d,simenao)</td>
               </tr>
               <tr class="alternate">
                   <td>Fornecedor</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.fornecedores, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.fornecedores_i,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.fornecedores_a,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.fornecedores_d,simenao)</td>
               </tr>
               <tr>
                   <td>Material</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.materiais, simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.materiais_i,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.materiais_a,simenao)</td>
                   <td>@Html.DropDownListFor(b => b.Vgrupo_permissao.materiais_d,simenao)</td>
               </tr>
               <tr>
                   <td><input type="image" value="submit" src="/Contents/Images/btnSalvar.png" /></td>
               </tr>
           </tbody>

       </table>
    }      
} else {
    
    <font style='color: red;text-align:right;font-size:11px'>Não existe grupo selecionado</font>    
}


