
@{
    Layout = null;    
    var up = ViewData["usuario_permissao"] as SisUnimed.Models.usuario_permissao;
    
}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Contents/Master.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.1.0.js"></script>   
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.inputmask/inputmask.js"></script>
    <script src="~/Scripts/jquery.inputmask/jquery.inputmask.js"></script>
    <script src="~/Scripts/jquery.inputmask/inputmask.extensions.js"></script>
    <script src="~/Scripts/jquery.inputmask/inputmask.date.extensions.js"></script>
    <script src="~/Scripts/jquery.inputmask/inputmask.phone.extensions.js"></script>
    <script src="~/Scripts/jquery.inputmask/inputmask.numeric.extensions.js"></script>
        
    <!--[if lt IE 7] /* Ver [C14 S14.5] */
    <script type="text/javascript">
        function IEHoverPseudo() {
            var navItems = document.getElementById("nav").getElementsByTagName("li");
            for (var i=0; i < navItems.length; i++) {
                if (navItems[i].className=="submenu") {
                    navItems[i].onmouseover=function() {this.className += "over";}
                    navItems[i].onmouseout=function() {this.className = "submenu";}
                }
            }
        }
    </script>
        <![endif]-->
    <title>@ViewBag.Titulo</title>
</head>
<body>
    <div id="menulateral">
        <img src="~/Contents/Images/unimedBranco.png" id="imageLogo" />
            <ul id="nav">
                <li class="submenu"><a href="#">Cadastro</a>
                    <ul>
                        @if (up.operadora == 1)
                        {
                            <li>@Ajax.ActionLink("Operadora", "Operadora", "Operadora", new AjaxOptions { UpdateTargetId="corposite" })</li>
                        }
                        @if (up.grupo == 1)
                        {
                            <li>@Ajax.ActionLink("Grupo", "Grupo", "Grupo", new AjaxOptions { UpdateTargetId="corposite" })</li>
                        }
                        @if (up.usuario == 1)
                        {
                            <li>@Ajax.ActionLink("Usuário", "Usuario", "Usuario", new AjaxOptions { UpdateTargetId="corposite" })</li>
                        }
                         @if (up.especialidade == 1)
                        {
                            <li>@Ajax.ActionLink("Especialidade", "Especialidade", "Especialidade", new AjaxOptions { UpdateTargetId="corposite" })</li>
                        }
                         @if (up.classificacao == 1)
                        {
                            <li>@Ajax.ActionLink("Classificação", "Classificacao", "Classificacao", new AjaxOptions { UpdateTargetId="corposite" })</li>
                        }
                        @if (up.bancos == 1)
                        {
                            <li>@Ajax.ActionLink("Banco", "Banco", "Banco", new AjaxOptions { UpdateTargetId="corposite" })</li>
                        }
                        @if (up.marcas == 1)
                        {
                            <li>@Ajax.ActionLink("Marca", "Marca", "Marca", new AjaxOptions { UpdateTargetId="corposite" })</li>
                        }
                         @if (up.estados == 1)
                        {
                            <li>@Ajax.ActionLink("Estados", "Estado", "Estado", new AjaxOptions { UpdateTargetId="corposite" })</li>
                        }
                        @if (up.regioes == 1)
                        {
                            <li>@Ajax.ActionLink("Região", "Regiao", "Regiao", new AjaxOptions { UpdateTargetId="corposite" })</li>
                        }
                         @if (up.unidades == 1)
                        {
                            <li>@Ajax.ActionLink("Unidades", "Unidade", "Unidade", new AjaxOptions { UpdateTargetId="corposite" })</li>
                        }
                        @if (up.procedimentos == 1)
                        {
                            <li>@Ajax.ActionLink("Procedimento", "Procedimento", "Procedimento", new AjaxOptions { UpdateTargetId="corposite" })</li>
                        }
                         @if (up.fornecedores == 1)
                        {
                            <li>@Ajax.ActionLink("Fornecedor", "Fornecedor", "Fornecedor", new AjaxOptions { UpdateTargetId="corposite" })</li>
                        }
                    </ul>
                </li>
            </ul>
        
    </div>
    <header>
        <div id="Divtopo">
            <p id="txttopo">
                @Session["usuariologadonome"].ToString() - Dia: @Session["datalogado"].ToString() às @Session["horalogado"].ToString()  - 
                @Html.ActionLink("[Logout]","Logout", "Home",new object {}, new { @class="logout" }) <br/>

            </p>
        </div>
    </header>    
    <div id="corposite">
                     
        @RenderBody()       
           
       
    </div>
    <div id="divRodape">
       
            <p id="txtRodape">
              &reg Copy Right - Leopoldo Sistema - Todos os direitos reservados
            </p>
        
    </div>
</body>
</html>

