@model SisUnimed.Models.vModelDetalheMateriais
@{
    
    IEnumerable<SisUnimed.Models.ListaMatProcedimento> listaprocedimentos = (IEnumerable<SisUnimed.Models.ListaMatProcedimento>)ViewData["listaprocedimentos"];
    IEnumerable<SisUnimed.Models.ListaProcedimentos> lstprocedimento = (IEnumerable<SisUnimed.Models.ListaProcedimentos>)ViewData["lstprocedimento"];

    List<SelectListItem> procedimento = new List<SelectListItem>();
    
    foreach (var x in lstprocedimento)
    {
        procedimento.Add(new SelectListItem { 
            Text = x.c_descricao + " - " + x.c_codigo,
            Value = x.id.ToString()
        });
    };
   
}  
    

<table class="table">
    <tr>
        @if (Model.vmateriais.id > 0)
        {
            <td width="65px"><a class="btnIncluir" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#cadProcedimento" href="@Url.Action("IncluirProcedimento", "Materiais", new { id = Model.vmateriais.id })" role="button"><img src="/Contents/Images/btnAdd.png" /></a></td>
        }
        @if (Model.vmateriais_procedimentos != null && (Model.vmateriais_procedimentos.id) > 0)
        {
            <td><a class="btnIncluir" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#cadProcedimento" href="@Url.Action("DeleteProcedimento","Materiais",new {id_proc = Model.vmateriais_procedimentos.id, id = Model.vmateriais.id })" role="button"><img src="/Contents/Images/btnExcluir.png" /></a></td>
        }
    </tr>
</table>


               
                            @using (Ajax.BeginForm((string)ViewBag.Action,"Materiais",new AjaxOptions { HttpMethod="POST",InsertionMode = InsertionMode.Replace, UpdateTargetId="cadProcedimento" }, new{@id="formCadastro"}))
                            {
                                 @Html.AntiForgeryToken()
                                 @Html.ValidationSummary(true)
                                @Html.HiddenFor(a => a.vmateriais_procedimentos.id)
                                @Html.HiddenFor(a => a.vmateriais_procedimentos.material)
                                <table class="table">
                                 @if (@ViewBag.Message != null)
                                 {
                                     
                                     <tr>
                                         <td>
                                           
                                               @Html.Raw(ViewBag.Message)
                                            
                                         </td>
                                     </tr>
                                 }
                                <tr>
                                   <td></td>
                                   <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.vmateriais_procedimentos.procedimento)</font></td>
                                                                     

                                   
                               </tr> 
                               <tr>
                                   <td>@Html.LabelFor(a => a.vmateriais_procedimentos.procedimento,new{@class="txtcorposite"})</td>
                                   <td>@Html.DropDownListFor(a => a.vmateriais_procedimentos.procedimento,procedimento)</td>
                                  
                                   
                               </tr>
                                                           
                                               
                                                             
                                <tr>   
                                    @if ((ViewBag.Action == "InserirProcedimento" || ViewBag.Action == "EditarProcedimento") && Model.vmateriais_procedimentos != null)
                                    {                                 
                                        <td><input type="image" class="btnIncluir" src="/Contents/Images/btnSalvar.png" value="submit"/></td>
                                        <td><a class="btnIncluir" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#cadProcedimento" href="@Url.Action("Procedimento", "Materiais", new { id = Model.vmateriais.id })" role="button"><img src="/Contents/Images/btnCancelar.png" /></a></td>
                                    }    
                                </tr>
                             </table>
                            }  

    <table class="table">
        <tr>
            <td>
                <div id="divGridProcedimento">
                    @{Html.RenderPartial("ListaProcedimento",listaprocedimentos);}
                </div>
            </td>
        </tr>
    </table>
               
                       


