@model SisUnimed.Models.vModelDetalheFornecedor
@{
    List<SelectListItem> listasituacao = new List<SelectListItem>();
    List<SelectListItem> listatipofornecedor = new List<SelectListItem>();
    IEnumerable<SisUnimed.Models.ListaOperadora1> listaoperadora = (IEnumerable<SisUnimed.Models.ListaOperadora1>)ViewData["listaoperadora"];    

    listasituacao.Add(new SelectListItem {
        Text = "Ativo",
        Value = "1"
    });
    listasituacao.Add(new SelectListItem {
        Text = "Inativo",
        Value = "2"
    });

    listatipofornecedor.Add(new SelectListItem {
        Text = "Distribuidor/Atacadista",
        Value = "1"
    });
    listatipofornecedor.Add(new SelectListItem {
        Text = "Fabricante",
        Value = "2"
    });
    listatipofornecedor.Add(new SelectListItem {
        Text = "Importador",
        Value = "3"
    });
    listatipofornecedor.Add(new SelectListItem {
        Text = "Varejista",
        Value = "4"
    });

    List<SelectListItem> operadoras = new List<SelectListItem>();
    foreach (var x in listaoperadora)
    {
        operadoras.Add(new SelectListItem {
            Text = x.c_nome,
            Value = x.id.ToString()
        }); 
    }    
    
}


               
                            @using (Ajax.BeginForm((string)ViewBag.Action,"Fornecedor",new AjaxOptions { HttpMethod="POST",InsertionMode = InsertionMode.Replace, UpdateTargetId="corposite" }, new{@id="formCadastro"}))
                            {
                                 @Html.AntiForgeryToken()
                                 @Html.ValidationSummary(true)
                                <table class="table">
                                 @if (@ViewBag.Message != null)
                                 {
                                     
                                     <tr>
                                         <td>
                                           
                                               @Html.Raw(ViewBag.Message)
                                            
                                         </td>
                                     </tr>
                                 }
                                <tr>
                                   <td></td>
                                   <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.vfornecedor.id)</font></td>
                                   <td></td>
                                   <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.vfornecedor.c_codigo)</font></td>
                                   <td></td>
                                   <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.vfornecedor.c_cnpj)</font></td>
                                   <td></td>
                                   <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.vfornecedor.c_razao_social)</font></td>
                                   

                                   
                               </tr> 
                               <tr>
                                   <td>@Html.LabelFor(a => a.vfornecedor.id,new{@class="txtcorposite"})</td>
                                   <td>@Html.TextBoxFor(a => a.vfornecedor.id, new { @size="10", @readonly = "true"})</td>
                                   <td>@Html.LabelFor(a => a.vfornecedor.c_codigo, new { @class="txtcorposite" })</td>
                                   <td>@Html.TextBoxFor(a => a.vfornecedor.c_codigo, new { @size="10", @style="text-transform: uppercase" })</td>
                                   <td>@Html.LabelFor(a => a.vfornecedor.c_cnpj, new{ @class = "txtcorposite"})</td>
                                   <td>@Html.TextBoxFor(a => a.vfornecedor.c_cnpj, new { value = Model.vfornecedor.c_cnpj })</td>
                                   <td>@Html.LabelFor(a => a.vfornecedor.c_razao_social,new {@class="txtcorposite"})</td>
                                   <td>@Html.TextBoxFor(a => a.vfornecedor.c_razao_social, new { @size = "30",@style="text-transform: uppercase"})</td>                                   
                                   
                               </tr>
                               <tr>
                                   <td></td>
                                    <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.vfornecedor.c_responsavel)</font></td>
                                   <td></td>
                                   <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.vfornecedor.f_situacao)</font></td>
                                   <td></td>
                                   <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.vfornecedor.f_tipo_fornecedor)</font></td>
                                   <td></td>
                                   <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.vfornecedor.operadora)</font></td>
                                   

                               </tr>
                               <tr>
                                   <td>@Html.LabelFor(a => a.vfornecedor.c_responsavel, new {@class="txtcorposite"})</td>
                                   <td>@Html.TextBoxFor(a => a.vfornecedor.c_responsavel,new {@size="30",@style="text-transform: uppercase"})</td>
                                   <td>@Html.LabelFor(a => a.vfornecedor.f_situacao, new { @class="txtcorposite" })</td>
                                   <td>@Html.DropDownListFor(a => a.vfornecedor.f_situacao,listasituacao)</td>
                                   <td>@Html.LabelFor(a => a.vfornecedor.f_tipo_fornecedor,new { @class = "txtcorposite" })</td>
                                   <td>@Html.DropDownListFor(a => a.vfornecedor.f_tipo_fornecedor, listatipofornecedor)</td>
                                   <td>@Html.LabelFor(a => a.vfornecedor.operadora, new { @class = "txtcorposite" })</td>
                                   <td>@Html.DropDownListFor(a => a.vfornecedor.operadora,operadoras)</td>                                   
                               </tr>    
                               <tr>
                                   <td></td>
                                   <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.vfornecedor.c_email_principal)</font></td>
                                   <td></td>
                               </tr> 
                               <tr>
                                   <td>@Html.LabelFor(a => a.vfornecedor.c_email_principal,new {@class="txtcorposite"})</td>
                                   <td>@Html.TextBoxFor(a => a.vfornecedor.c_email_principal,new {@size="30",@style="text-transform: lowercase"})</td>
                               </tr>                  
                                                             
                                <tr>   
                                    @if (ViewBag.Action == "Inserir" || ViewBag.Action == "Editar")
                                    {                                 
                                        <td><input type="image" class="btnIncluir" src="/Contents/Images/btnSalvar.png" value="submit"/></td>
                                        <td><a class="btnIncluir" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#corposite" href="@Url.Action("Fornecedor","Fornecedor")" role="button"><img src="/Contents/Images/btnCancelar.png" /></a></td>
                                    }    
                                </tr>
                             </table>
                            }  

    <script>
        $(document).ready(function () {
            $("#vfornecedor_c_cnpj").inputmask("mask", { "mask": "99.999.999/9999-99" });
        });
    </script>
               
                       

