@model SisUnimed.Models.vModelDetalheFornecedor
@{
    
    IEnumerable<SisUnimed.Models.ListaBanco> listabanco = (IEnumerable<SisUnimed.Models.ListaBanco>)ViewData["listabanco"];
    IEnumerable<SisUnimed.Models.ListaEstado> listaestado = (IEnumerable<SisUnimed.Models.ListaEstado>)ViewData["listaestado"];
    IEnumerable<SisUnimed.Models.ListaFornecedorBanco> listafornbanco = (IEnumerable<SisUnimed.Models.ListaFornecedorBanco>)ViewData["listafornbanco"];   
       
    List<SelectListItem> banco = new List<SelectListItem>();
    foreach (var x in listabanco)
    {
        banco.Add(new SelectListItem {
            Text = x.c_nome + '-' + x.c_codigo,
            Value = x.id.ToString()
        }); 
    }

    List<SelectListItem> estado = new List<SelectListItem>();
    foreach (var x in listaestado)
    {
        estado.Add(new SelectListItem { 
            Text = x.c_sigla,
            Value = x.id.ToString()
        });
    }   
    
}
<table class="table">
    <tr>
        @if (Model.vfornecedor.id > 0)
        {
            <td width="65px"><a class="btnIncluir" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#cadBanco" href="@Url.Action("IncluirBanco", "Fornecedor", new { id = Model.vfornecedor.id })" role="button"><img src="/Contents/Images/btnAdd.png" /></a></td>
        }
        @if (Model.vfornecedores_bancos != null && (Model.vfornecedores_bancos.id) > 0)
        {
            <td><a class="btnIncluir" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#cadBanco" href="@Url.Action("DeleteBanco","Fornecedor",new {id_banco = Model.vfornecedores_bancos.id, id = Model.vfornecedor.id })" role="button"><img src="/Contents/Images/btnExcluir.png" /></a></td>
        }
    </tr>
</table>


               
                            @using (Ajax.BeginForm((string)ViewBag.Action,"Fornecedor",new AjaxOptions { HttpMethod="POST",InsertionMode = InsertionMode.Replace, UpdateTargetId="cadBanco" }, new{@id="formCadastro"}))
                            {
                                 @Html.AntiForgeryToken()
                                 @Html.ValidationSummary(true)
                                @Html.HiddenFor(a => a.vfornecedores_bancos.id)
                                @Html.HiddenFor(a => a.vfornecedores_bancos.fornecedor)
                                <table class="table">
                                 @if (@ViewBag.Message != null)
                                 {
                                     
                                     <tr>
                                         <td>
                                           
                                               @Html.Raw(ViewBag.Message)
                                            
                                         </td>
                                     </tr>
                                 }
                                <tr>
                                   <td></td>
                                   <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.vfornecedores_bancos.banco)</font></td>
                                   <td></td>
                                   <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.vfornecedores_bancos.c_agencia)</font></td>
                                   <td></td>
                                   <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.vfornecedores_bancos.c_conta)</font></td>
                                   <td></td>
                                   <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.vfornecedores_bancos.c_titular)</font></td>
                                   

                                   
                               </tr> 
                               <tr>
                                   <td>@Html.LabelFor(a => a.vfornecedores_bancos.banco,new{@class="txtcorposite"})</td>
                                   <td>@Html.DropDownListFor(a => a.vfornecedores_bancos.banco,banco)</td>
                                   <td>@Html.LabelFor(a => a.vfornecedores_bancos.c_agencia, new { @class="txtcorposite" })</td>
                                   <td>@Html.TextBoxFor(a => a.vfornecedores_bancos.c_agencia, new { @size="10", @style="text-transform: uppercase" })</td>
                                   <td>@Html.LabelFor(a => a.vfornecedores_bancos.c_conta, new{ @class = "txtcorposite"})</td>
                                   <td>@Html.TextBoxFor(a => a.vfornecedores_bancos.c_conta, new { @size = "15", @style="text-transform: uppercase" })</td>
                                   <td>@Html.LabelFor(a => a.vfornecedores_bancos.c_titular,new {@class="txtcorposite"})</td>
                                   <td>@Html.TextBoxFor(a => a.vfornecedores_bancos.c_titular, new { @size = "30",@style="text-transform: uppercase"})</td>                                   
                                   
                               </tr>
                               <tr>
                                   <td></td>
                                    <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.vfornecedores_bancos.c_cidade)</font></td>
                                   <td></td>
                                   <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.vfornecedores_bancos.estado)</font></td>                                 
                                   

                               </tr>
                               <tr>
                                   <td>@Html.LabelFor(a => a.vfornecedores_bancos.c_cidade, new {@class="txtcorposite"})</td>
                                   <td>@Html.TextBoxFor(a => a.vfornecedores_bancos.c_cidade,new {@size="30",@style="text-transform: uppercase"})</td>
                                   <td>@Html.LabelFor(a => a.vfornecedores_bancos.estado, new { @class="txtcorposite" })</td>
                                   <td>@Html.DropDownListFor(a => a.vfornecedores_bancos.estado,estado)</td>                                                                     
                               </tr> 
                               
                                               
                                                             
                                <tr>   
                                    @if ((ViewBag.Action == "InserirBanco" || ViewBag.Action == "EditarBanco") && Model.vfornecedor != null)
                                    {                                 
                                        <td><input type="image" class="btnIncluir" src="/Contents/Images/btnSalvar.png" value="submit"/></td>
                                        <td><a class="btnIncluir" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#cadBanco" href="@Url.Action("Banco", "Fornecedor", new { id = Model.vfornecedor.id })" role="button"><img src="/Contents/Images/btnCancelar.png" /></a></td>
                                    }    
                                </tr>
                             </table>
                            }  

    <table class="table">
        <tr>
            <td>
                <div id="divGridBanco">
                    @{Html.RenderPartial("ListaFornBanco",listafornbanco);}
                </div>
            </td>
        </tr>
    </table>
               
                       

