@model SisUnimed.Models.ViewModelDetalhePermisao

@{
       
    IEnumerable<SisUnimed.Models.ListaOperadora> listaoperadora = (IEnumerable<SisUnimed.Models.ListaOperadora>)ViewData["listaoperadora"];
    IEnumerable<SisUnimed.Models.ListaGrupo> listagrupo = (IEnumerable<SisUnimed.Models.ListaGrupo>)ViewData["listagrupo"];

    List<SelectListItem> operadoras = new List<SelectListItem>();
    foreach (var op in listaoperadora)
    {
        operadoras.Add(new SelectListItem
        {
            Text = op.desc_op,
            Value = op.cod_op.ToString()

        });
    };
    List<SelectListItem> grupos = new List<SelectListItem>();
    foreach (var gp in listagrupo)
    {
        grupos.Add(new SelectListItem
        {
            Text = gp.desc_grupo,
            Value = gp.cod_grupo.ToString()

        });
    };
}


               
                            @using (Ajax.BeginForm((string)ViewBag.Action, FormMethod.Post, new AjaxOptions { UpdateTargetId="corposite" }, new { @id = "formCadastro", @name = "formCad" }))
                            {
                                 @Html.AntiForgeryToken()
                                 @Html.ValidationSummary(true)
                                
                            <table class="table">
                                 @if (@ViewBag.Message != null)
                                 {
                                     
                                     <tr>
                                         <td>
                                           
                                               @Html.Raw(ViewBag.Message)
                                            
                                         </td>
                                     </tr>
                                 }
                                <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                                   <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.Vusuario.nome_usuario)</font></td>
                                   <td></td>
                                   <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.Vusuario.email_usuario)</font></td>
                               </tr> 
                               <tr>
                                   <td>@Html.LabelFor(a => a.Vusuario.id, new { @class = "txtcorposite" })</td>
                                   <td>@Html.TextBoxFor(a => a.Vusuario.id, new { @readonly = "true" })</td>
                                   <td>@Html.LabelFor(a => a.Vusuario.nome_usuario, new { @class = "txtcorposite" })</td>
                                   <td>@Html.TextBoxFor(a => a.Vusuario.nome_usuario, new { @size = "30", @style = "text-transform: uppercase" })</td>
                                   <td>@Html.LabelFor(a => a.Vusuario.email_usuario, new { @class = "txtcorposite" })</td>
                                   <td>@Html.TextBoxFor(a => a.Vusuario.email_usuario, new { @size = "50", @style = "text-transform: lowercase" })</td>
                               </tr>
                                
                                <tr>
                                    <td></td>
                                    <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.Vusuario.id_operadora)</font></td>
                                    <td></td>
                                    <td><font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.Vusuario.id_grupo)</font></td>
                                    <td></td>

                                    <td>
                                                                                 
                                        <font style="color: red;text-align:right;font-size:11px">@Html.ValidationMessageFor(a => a.Vusuario.senha_usuario)</font>
                                        
                                    </td>
                                </tr>
                                 
                                <tr>
                                    <td>@Html.LabelFor(a => a.Vusuario.id_operadora, new { @class = "txtcorposite" })</td>
                                    @if (Model != null)
                                    {
                                    <td>@Html.DropDownListFor(a => a.Vusuario.id_operadora, operadoras)</td>
                                    }
                                    else
                                    {
                                        <td>@Html.DropDownListFor(a => a.Vusuario.id_operadora, operadoras)</td>
                                    }
                                    <td>@Html.LabelFor(a => a.Vusuario.id_grupo, new { @class = "txtcorposite" })</td>
                                    @if (Model != null)
                                    {
                                    <td>@Html.DropDownListFor(a => a.Vusuario.id_grupo, grupos)</td>
                                    }
                                    else
                                    {
                                        <td>@Html.DropDownListFor(a => a.Vusuario.id_grupo, grupos)</td>
                                    }
                                    <td>@Html.LabelFor(a => a.Vusuario.senha_usuario, new { @class = "txtcorposite" })</td>
                                   @if (Model != null)
                                   {
                                        <td>@Html.PasswordFor(a => a.Vusuario.senha_usuario, new { value = Model.Vusuario.senha_usuario })</td>
                                   }
                                   else
                                   {
                                        <td>@Html.PasswordFor(a => a.Vusuario.senha_usuario)</td>
                                   }
                                </tr>
                                
                                <tr>   
                                    @if (ViewBag.Action == "Inserir" || ViewBag.Action == "Editar")
                                    {                                 
                                        @*<td><a class="btnIncluir" href="document.formCad.submit();return false" onclick="document.formCad.submit();return false" role="button" ><img src="/Contents/Images/btnSalvar.png" /></a></td>*@
                                        <td><input type="image" src="/Contents/Images/btnSalvar.png" value="submit" /></td>
                                        <td><a class="btnIncluir" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#corposite" href="@Url.Action("Usuario","Usuario")" role="button"><img src="/Contents/Images/btnCancelar.png" /></a></td>
                                    }    
                                </tr>
                             </table>
                            }                   


