@model SisUnimed.Models.ViewModelDetalhePermisao
@{       
          
   List<SelectListItem> simenao = new List<SelectListItem>();
   simenao.Add(new SelectListItem{
       Text = "Sim",
       Value = "1"
   });
   simenao.Add(new SelectListItem{
       Text = "Não",
       Value = "0"
   });
}

@if (Model != null && Model.Vusuario.id != 0)
{
    
    using (@Ajax.BeginForm("EditarPermissao","Usuario",FormMethod.Post,new AjaxOptions { UpdateTargetId="corposite" }, new { @id="FormCadastro"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(b => b.VusuarioPermissao.id, new { value =  Model.VusuarioPermissao.id })
        @Html.HiddenFor(b => b.VusuarioPermissao.id_usuario, new { value =  Model.VusuarioPermissao.id_usuario })
       <table class="table">
           <thead>
               <tr class="header">
                   <th scope="col">Descrição Tabela</th>
                   <th scope="col">Visualizar</th>
                   <th scope="col">Inserir</th>
                   <th scope="col">Atualizar</th>
                   <th scope="col">Excluir</th>
               </tr>
           </thead>
           <tbody>
               <tr>
                   <td>Operadoras</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.operadora, simenao, new { value = Model.VusuarioPermissao.operadora})</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.operadora_i, simenao,new { value =  Model.VusuarioPermissao.operadora_i})</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.operadora_a, simenao,new { value =  Model.VusuarioPermissao.operadora_a})</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.operadora_d, simenao,new { value =  Model.VusuarioPermissao.operadora_d})</td>

               </tr>
               <tr class="alternate">
                   <td>Usuario</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.usuario,simenao,new { value =  Model.VusuarioPermissao.usuario})</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.usuario_i, simenao,new { value =  Model.VusuarioPermissao.usuario_i})</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.usuario_a, simenao,new { value = Model.VusuarioPermissao.usuario_a})</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.usuario_d, simenao,new { value =  Model.VusuarioPermissao.usuario_d})</td>
               </tr>
               <tr>
                   <td>Grupo</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.grupo, simenao, new { value =  Model.VusuarioPermissao.grupo })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.grupo_i,simenao,new { value =  Model.VusuarioPermissao.grupo_i })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.grupo_a,simenao,new { value =  Model.VusuarioPermissao.grupo_a })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.grupo_d, simenao,new { value =  Model.VusuarioPermissao.grupo_d })</td>
               </tr>
               <tr class="alternate">
                   <td>Permissão de Grupo</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.grupo_permissao, simenao, new { value =  Model.VusuarioPermissao.grupo_permissao })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.grupo_permissao_i,simenao,new { value =  Model.VusuarioPermissao.grupo_permissao_i })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.grupo_permissao_a,simenao,new { value =  Model.VusuarioPermissao.grupo_permissao_a })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.grupo_permissao_d,simenao,new { value =  Model.VusuarioPermissao.grupo_permissao_d })</td>
               </tr>
               <tr>
                   <td>Permissao de Usuário</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.usuario_permissao1, simenao, new { value =  Model.VusuarioPermissao.usuario_permissao1 })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.usuario_permissao_i,simenao,new { value =  Model.VusuarioPermissao.usuario_permissao_i })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.usuario_permissao_a,simenao,new { value =  Model.VusuarioPermissao.usuario_permissao_a })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.usuario_permissao_d,simenao,new { value =  Model.VusuarioPermissao.usuario_permissao_d })</td>
               </tr>
               <tr class="alternate">
                   <td>Banco</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.bancos, simenao, new { value =  Model.VusuarioPermissao.bancos })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.bancos_i,simenao,new { value =  Model.VusuarioPermissao.bancos_i })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.bancos_a,simenao,new { value =  Model.VusuarioPermissao.bancos_a })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.bancos_d,simenao,new { value =  Model.VusuarioPermissao.bancos_d })</td>
               </tr>
               <tr>
                   <td>Marca</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.marcas, simenao, new { value =  Model.VusuarioPermissao.marcas })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.marcas_i,simenao,new { value =  Model.VusuarioPermissao.marcas_i })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.marcas_a,simenao,new { value =  Model.VusuarioPermissao.marcas_a })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.marcas_d,simenao,new { value =  Model.VusuarioPermissao.marcas_d })</td>
               </tr>
               <tr class="alternate">
                   <td>Classificação</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.classificacao, simenao, new { value =  Model.VusuarioPermissao.classificacao })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.classificacao_i,simenao,new { value =  Model.VusuarioPermissao.classificacao_i })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.classificacao_a,simenao,new { value =  Model.VusuarioPermissao.classificacao_a })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.classificacao_d,simenao,new { value =  Model.VusuarioPermissao.classificacao_d })</td>
               </tr>
               <tr>
                   <td>Especialidade</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.especialidade, simenao, new { value =  Model.VusuarioPermissao.especialidade })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.especialidade_i,simenao,new { value =  Model.VusuarioPermissao.especialidade_i })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.especialidade_a,simenao,new { value =  Model.VusuarioPermissao.especialidade_a })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.especialidade_d,simenao,new { value =  Model.VusuarioPermissao.especialidade_d })</td>
               </tr>
               <tr class="alternate">
                   <td>Estados</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.estados, simenao, new { value =  Model.VusuarioPermissao.estados })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.estados_i,simenao,new { value =  Model.VusuarioPermissao.estados_i })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.estados_a,simenao,new { value =  Model.VusuarioPermissao.estados_a })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.estados_d,simenao,new { value =  Model.VusuarioPermissao.estados_d })</td>
               </tr>
               <tr>
                   <td>Procedimentos</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.procedimentos, simenao, new { value =  Model.VusuarioPermissao.procedimentos })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.procedimentos_i,simenao,new { value =  Model.VusuarioPermissao.procedimentos_i })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.procedimentos_a,simenao,new { value =  Model.VusuarioPermissao.procedimentos_a })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.procedimentos_d,simenao,new { value =  Model.VusuarioPermissao.procedimentos_d })</td>
               </tr>
               <tr class="alternate">
                   <td>Região</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.regioes, simenao, new { value =  Model.VusuarioPermissao.regioes })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.regioes_i,simenao,new { value =  Model.VusuarioPermissao.regioes_i })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.regioes_a,simenao,new { value =  Model.VusuarioPermissao.regioes_a })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.regioes_d,simenao,new { value =  Model.VusuarioPermissao.regioes_d })</td>
               </tr>
               <tr>
                   <td>Unidade</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.unidades, simenao, new { value =  Model.VusuarioPermissao.unidades })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.unidades_i,simenao,new { value =  Model.VusuarioPermissao.unidades_i })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.unidades_a,simenao,new { value =  Model.VusuarioPermissao.unidades_a })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.unidades_d,simenao,new { value =  Model.VusuarioPermissao.unidades_d })</td>
               </tr>
               <tr class="alternate">
                   <td>Fornecedor</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.fornecedores, simenao, new { value =  Model.VusuarioPermissao.fornecedores })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.fornecedores_i,simenao,new { value =  Model.VusuarioPermissao.fornecedores_i })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.fornecedores_a,simenao,new { value =  Model.VusuarioPermissao.fornecedores_a })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.fornecedores_d,simenao,new { value =  Model.VusuarioPermissao.fornecedores_d })</td>
               </tr>
               <tr>
                   <td>Material</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.materiais, simenao, new { value =  Model.VusuarioPermissao.materiais })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.materiais_i,simenao,new { value =  Model.VusuarioPermissao.materiais_i })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.materiais_a,simenao,new { value =  Model.VusuarioPermissao.materiais_a })</td>
                   <td>@Html.DropDownListFor(b => b.VusuarioPermissao.materiais_d,simenao,new { value =  Model.VusuarioPermissao.materiais_d })</td>
               </tr>
               <tr>
                   <td><input type="image" src="/Contents/Images/btnSalvar.png" value="submit" /></td>
               </tr>
           </tbody>

       </table>
    }      
} else {
    
    <font style='color: red;text-align:right;font-size:11px'>Não existe usuário selecionado</font>    
}


